.Header {
  padding: 30px;
}

.navigation {
  display: flex;
  justify-content: space-between;
}

.title {
  font-size: 32px;
  font-weight: bold;
  text-decoration: none;
  color: black;
}

hr {
  background-color: #fff;
  padding: 0;
  margin: 30px;
}

hr.hr_1 {
  border: 0;
  height: 1px;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.75),
    rgba(0, 0, 0, 0)
  );
}
