.Header {
  padding: 30px;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.title {
  font-size: 32px;
  font-weight: bold;
  text-decoration: none;
  color: black;
}

hr {
  background-color: #fff;
  padding: 0;
  margin: 30px;
}

hr.hr_1 {
  border: 0;
  height: 1px;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.75),
    rgba(0, 0, 0, 0)
  );
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
  .navigation {
    flex-direction: column;
    align-items: flex-start;
  }

  .title {
    font-size: 24px;
    margin-bottom: 10px;
  }

  hr {
    margin: 15px 0;
  }

  .navigation a {
    margin-bottom: 10px;
  }
}

@media (max-width: 480px) {
  .title {
    font-size: 20px;
  }

  hr.hr_1 {
    margin: 15px 0;
  }

  .navigation {
    padding: 10px;
    width: 100%;
    text-align: left;
  }
}
