.container {
  width: 110%;
  display: flex;
  justify-content: space-between; /* 공간 균등 배분 */
}

.slide {
  height: 75vh;
  border-radius: 20px;
  margin: 10px;
  cursor: pointer;
  color: #fff;
  flex: 1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  transition: all 0.7s ease-in-out;
  filter: blur(4px);
}

.slide h3 {
  position: absolute;
  font-size: clamp(1rem, 5vw, 5rem);
  bottom: 20px;
  left: 20px;
  margin: 0;
  opacity: 0;
  background-color: #e3fdf5;
  background-image: linear-gradient(-225deg, #e3fdf5 0%, #ffe6fa 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.slide.active {
  flex: 10;
  filter: blur(0px);
}

.slide.active h3 {
  opacity: 1;
  transition: opacity 0.3s ease-in 0.4s;
}

@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    width: 100%;
  }

  .slide {
    width: 90%;
    height: 60vh; /* 높이를 화면 크기에 맞게 조정 */
    margin-bottom: 20px; /* 슬라이드 간격 조정 */
    filter: blur(4px);
  }

  .slide h3 {
    font-size: clamp(1rem, 6vw, 4rem); /* 텍스트 크기 조정 */
    left: 10px;
    bottom: 10px;
  }

  .slide.active {
    filter: blur(0px);
  }
}

@media screen and (max-width: 480px) {
  .container {
    padding: 0 20px;
    width: 100%;
  }

  .slide {
    height: 50vh; /* 더 작은 화면에서 슬라이드 높이 조정 */
  }

  .slide h3 {
    font-size: clamp(1rem, 8vw, 3rem); /* 더 작은 화면에서 텍스트 크기 조정 */
  }
}
