.Navigation {
  display: flex;
  gap: 30px;
  margin-right: 100px;
}

.Navigation a {
  font-size: 28px;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.5);
  position: relative;
  transition: color 0.3s ease, transform 0.3s ease;
}

.Navigation a::after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.8);
  transition: width 0.3s ease-in-out;
}

.Navigation a:hover::after {
  width: 100%;
}

.Navigation a:hover {
  color: rgba(0, 0, 0, 1);
  transform: translateY(-2px);
}

.Navigation a.active {
  color: rgba(0, 0, 0, 1);
  font-weight: bold;
  transform: translateY(-3px);
}

.Navigation a.active::after {
  width: 100%;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
  .Navigation {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }

  .Navigation a {
    font-size: 24px;
  }
}

@media (max-width: 480px) {
  .Navigation {
    align-items: center;
  }

  .Navigation a {
    font-size: 20px;
  }
}
